$color-black-rgba: rgba(0,0,0,0.4);
$color-white:#eee;
$color-custom-white:#fff;
$color-custom1-white:#d9d9d9;
$color-light-white-blue: #bee2f9;
$color-custom-skyblue: #63b8ee;
$color-custom1-skyblue: #7cacde;
$color-custom2-skyblue: #33b1ff;
$color-custom-blue: #468ccf;
$color-custom1-blue: #14396a;
$color-custom2-blue: #3866a3;
$color-custom-green: #33b13a;
$color-custom-black: #3c484e;
$color-custom-black-rgba: rgba(39,44,49,0.06);
$color-custom1-black-rgba: rgba(39,44,49,0.03);

